USE [CPFN_1920]
GO
/****** Object:  StoredProcedure [dbo].[UDSP_SAVE_VR_CODE_REPLACEMENT]    Script Date: 5/18/2021 7:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      
-- Author  : Orasis Infotech Pvt. Ltd.
-- Create date : 01-Dec-2019     
-- Execute  : exec UDSP_SAVE_VR_CODE_REPLACEMENT
-- Description :     
-- =============================================
ALTER PROCEDURE [dbo].[UDSP_SAVE_VR_CODE_REPLACEMENT]
 @BOOK_NO INT  -- TEXT7
,@SUB_LEGDER_NO_OLD INT     --TEXT1
,@SUB_LEGDER_CODE_OLD  VARCHAR(50)  --TEXT2
,@GENERAL_LEGDER_CODE_OLD VARCHAR(50)  --TEXT3
,@SUB_LEGDER_NO_NEW INT   --TEXT4
,@SUB_LEGDER_CODE_NEW VARCHAR(50)  --TEXT5
,@GENERAL_LEGDER_CODE_NEW VARCHAR(50)   --TEXT6
,@INVOICE_NO BIGINT
,@INVOICE_DATE DATETIME
,@USER_ID VARCHAR(100)
AS
BEGIN    
    
DECLARE @RESULT INT
SET @RESULT =0

BEGIN TRY
BEGIN TRANSACTION

 --If Text4.Text = 0 And Text5.Text = "" And Text6.Text = 0 Then
IF (@SUB_LEGDER_NO_NEW =0 and @SUB_LEGDER_CODE_NEW='' and @GENERAL_LEGDER_CODE_NEW=0)
BEGIN
	SET @RESULT = -1 --"You Must Select The Code For Replacement"
END
 --If Not Text1.Text = "" And Not Text4.Text = "" Then
ELSE IF (@SUB_LEGDER_NO_OLD != 0 and @SUB_LEGDER_NO_NEW != 0)
BEGIN
	IF EXISTS(SELECT * FROM DEBT WHERE SUB_LED_NO=@SUB_LEGDER_NO_OLD AND SUB_LED_CODE=@SUB_LEGDER_CODE_OLD AND BOOK_NO=@BOOK_NO 
		AND INVOICE_NO=@INVOICE_NO AND INVOICE_DT=@INVOICE_DATE)
    BEGIN
	     SET @RESULT = -2 --"You Can't Replace The Code Due To Outstanding"
	END
	ELSE
	BEGIN
		UPDATE VOUCHER_MAST SET SUB_LED_NO1=@SUB_LEGDER_NO_NEW, SUB_LED_CODE1=@SUB_LEGDER_CODE_NEW
		WHERE SUB_LED_NO1=@SUB_LEGDER_NO_OLD AND SUB_LED_CODE1=@SUB_LEGDER_CODE_OLD AND BOOK_NO=@BOOK_NO
		AND VOU_DATE=@INVOICE_DATE AND VOUCHER_NO=@INVOICE_NO 
		SET @RESULT = 1 -- MsgBox "Code Replacement Successful"
	END 
END
--ElseIf Not Text1.Text = "" And Not Text6.Text = "" Then
ELSE IF (@SUB_LEGDER_NO_OLD != 0 and @GENERAL_LEGDER_CODE_NEW!=0)
	IF EXISTS(SELECT * FROM DEBT WHERE SUB_LED_NO=@SUB_LEGDER_NO_OLD AND SUB_LED_CODE=@SUB_LEGDER_CODE_OLD AND BOOK_NO=@BOOK_NO
			AND INVOICE_NO=@INVOICE_NO AND INVOICE_DT=@INVOICE_DATE)
	BEGIN
		SET @RESULT = -2 --"You Can't Replace The Code Due To Outstanding"
	END
	ELSE
	BEGIN
		UPDATE VOUCHER_MAST SET SUB_LED_NO1=0, SUB_LED_CODE1='', GEN_LED_CODE=@GENERAL_LEGDER_CODE_NEW
		WHERE SUB_LED_NO1=@SUB_LEGDER_NO_OLD AND SUB_LED_CODE1=@SUB_LEGDER_CODE_OLD 
		AND BOOK_NO=@BOOK_NO AND VOU_DATE=@INVOICE_DATE AND VOUCHER_NO=@INVOICE_NO
		
		SET @RESULT = 1 --"Code Replacement Successfull"
	END	 
--ElseIf Not Text3.Text = "" And Not Text4.Text = "" Then
IF (@GENERAL_LEGDER_CODE_OLD !='' and @SUB_LEGDER_NO_NEW!=0)
BEGIN
	UPDATE VOUCHER_MAST SET SUB_LED_NO1=@SUB_LEGDER_NO_NEW, SUB_LED_CODE1=@SUB_LEGDER_CODE_NEW, GEN_LED_CODE=0 
	WHERE  GEN_LED_CODE=@GENERAL_LEGDER_CODE_OLD AND BOOK_NO=@BOOK_NO
	AND VOU_DATE=@INVOICE_DATE AND VOUCHER_NO=@INVOICE_NO
	
	SET @RESULT = 1 --"Code Replacement Successfull"
END
--ElseIf Not Text3.Text = "" And Not Text6.Text = "" Then
IF (@GENERAL_LEGDER_CODE_OLD !='' and @GENERAL_LEGDER_CODE_NEW !='')
BEGIN
	UPDATE VOUCHER_MAST SET GEN_LED_CODE=@GENERAL_LEGDER_CODE_NEW WHERE  GEN_LED_CODE=@GENERAL_LEGDER_CODE_OLD AND BOOK_NO=@BOOK_NO
	AND VOU_DATE=@INVOICE_DATE AND VOUCHER_NO=@INVOICE_NO
	SET @RESULT = 1 --"Code Replacement Successfull"
END    
ELSE
BEGIN
    SET @RESULT = -1 --"You Must Select The Code For Replacement"
END   


COMMIT TRANSACTION
END TRY
BEGIN CATCH        
  ROLLBACK TRANSACTION
  SET @RESULT=0         
END CATCH    
 
SELECT @RESULT

END


